#content > div > * {
    background-color: blueviolet;
    padding: 1%;
  }
  
  #content main,
  #content header,
  #content nav,
  #content article,
  #content aside,
  #content footer,
  #content section {
    background-color: rgba(0, 255, 0, 0.5);
    padding: 1%;
  }